.bgGreen {
    background-color: #54bd95;
}

.textGreen {
    color: #54bd95;
}

.increase input[type=number]::-webkit-inner-spin-button,
.increase input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.increase input[type=number] {
  -moz-appearance: textfield;
}
