.ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  top: 58px;
  right: 32px;
}

@media (min-width: 768px) {

  .ribbon {
    width: 130px;
    height: 50px;
    top: 95px;
    right: 60px;
  }

}